body {
    font-family: Arial, Helvetica, sans-serif;
    background:#03DAC6;
  
  }
  
  .center {
    display: block;
   
    width: 100%;
    height: 300px;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
  }
  
  .pill-nav a {
    display: inline-block;
    color: black;
    text-align: center;
    padding:20px;
    text-decoration: none;
    font-size: 17px;
    border-radius:3px;
  }
  
  .pill-nav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .pill-nav a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  #myId{
    background-color: #83c11f;
    color: white;
    
      
  }
  #avx{
    background-color: fuchsia;
    color:white;
  }
  
  
  
  
  #acs{
    background-color: darkgoldenrod;
    color: white;
  }
  
  #abc{
  
  background-color: darkkhaki;
  color: white;
  }
  
  
  
  
  
  #zxc{
    background-color: darkorange;
  
  
    color: white;
  }
  
  
 
  span{
      font-size:15px;
  }
  a{
    text-decoration:none; 
    color: #0062cc;
    border-bottom:2px solid #0062cc;
  }
  .box{
      padding:60px 0px;
  }
  
  .box-part{
      background:#FFF;
      border-radius:0;
      padding:60px 10px;
      margin:30px 0px;
  }
  .text{
      margin:20px 0px;
  }
  
  .fa{
       color:#4183D7;
  }
  
  .container_des{
    display:flex;
    justify-content:space-around;
    background-color:white;
    align-items:center;
    text-align:center;
  }
  .container-box{
    width:20%;
   padding:10px;
    border:1px solid #ccc;
    box-shadow:0px 0px 0px 1px #ddd;
  }
  
  .carousel-inner img {
    width: 100%;
    height: 100%;
}